.body {
    background-image: url(waving\ flag\ gif.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25%;
}
.images {
    background-color: black;
}
.butten {
    box-shadow: 0px 0px 30px 10px purple, 0px 0px 30px 10px purple, 0px 0px 30px 10px purple, 0px 0px 30px 10px purple;
    border-radius: 100px;
    background-color: rgb(14, 201, 123);
}
.feet {
    background-color: yellowgreen;
}
.txt {
    color: black;
    font-weight: bold;
text-align: center;
}

